In [245]:
import pandas as pd
import numpy as np
import sklearn as sk
from sklearn.linear_model import LinearRegression 
from sklearn import model_selection

In [246]:
df = pd.read_csv('house_price_predict.csv')

In [247]:
df = df.drop('Unnamed: 0', axis = 1)

In [248]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.000013,0.035997,0.004620,0.0,0.001076,0.013149,0.130388,0.008179,0.002000,0.591945,0.030597,0.793727,0.009959,24.0
1,0.000058,0.000000,0.014977,0.0,0.000994,0.013602,0.167140,0.010522,0.004237,0.512648,0.037707,0.840785,0.019362,21.6
2,0.000059,0.000000,0.015174,0.0,0.001007,0.015421,0.131140,0.010661,0.004293,0.519409,0.038204,0.843138,0.008650,34.7
3,0.000071,0.000000,0.004785,0.0,0.001005,0.015360,0.100527,0.013306,0.006585,0.487268,0.041045,0.866174,0.006453,33.4
4,0.000151,0.000000,0.004755,0.0,0.000999,0.015587,0.118209,0.013222,0.006543,0.484177,0.040784,0.865631,0.011625,36.2

In [249]:
X_train_init, X_test_init, Y_train, Y_test = sk.model_selection.train_test_split(
    df, df["Price"].values, test_size=0.33, random_state=5)

In [250]:
X_train = X_train_init.drop("Price", axis = 1).fillna(X_train_init.mean())
X_test = X_test_init.drop("Price", axis = 1).fillna(X_test_init.mean())

In [251]:
X_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
435,0.016338,0.000000,0.026498,0.0,0.001083,0.009705,0.138490,0.003110,0.035135,0.974995,0.029572,0.160816,0.034066
88,0.000116,0.000000,0.006985,0.0,0.001002,0.014354,0.176786,0.007009,0.004097,0.553096,0.033430,0.813052,0.011267
365,0.005990,0.000000,0.023797,0.0,0.000944,0.004682,0.115569,0.002121,0.031555,0.875639,0.026558,0.466350,0.009361
242,0.000213,0.062125,0.010209,0.0,0.000886,0.013166,0.109546,0.014569,0.012425,0.621246,0.034376,0.771898,0.023235
461,0.004743,0.000000,0.023248,0.0,0.000916,0.008189,0.113541,0.003297,0.030826,0.855411,0.025945,0.502753,0.018816

In [252]:
lm = LinearRegression()

In [253]:
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [254]:
Y_predicted = lm.predict(X_test)

In [255]:
MDM = np.mean((Y_test - Y_predicted)**2)

In [256]:
X_train_0 = X_train_init.drop("Price", axis = 1).fillna(0)
X_test_0 = X_test_init.drop("Price", axis = 1).fillna(0)

In [257]:
lm.fit(X_train_0, Y_train)
Y_predicted_0 = lm.predict(X_test_0)
MD0 = np.mean((Y_test - Y_predicted_0)**2)

In [258]:
print("Let's change missing data with mean. We will get:", MDM)
print("with zeros:", MD0)

Let's change missing data with mean. We will get: 31.238859804716043
with zeros: 36.42317924569886